.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#Renpy
cache/
saves/

*.com
*.class
*.dll
*.exe
*.o
*.so

*.rpyc
*.rpymc

log.txt
errors.txt
traceback.txt
files.txt
